includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    parseModelCastsMethod: true
    paths:
        - app
        - config
        - database
        - routes
        - tests
